<!--
  Generated template for the BeToBePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header no-border>
  <ion-toolbar color='violet'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>B2B</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content style="background:#F5F5F5" class="ion-padding">



  <div *ngIf="loading==true"
    style="margin-left:auto; margin-right:auto;align-items: center;justify-content: center;margin-block-start: 50%">

    <ion-spinner style="margin-left:auto; margin-right:auto;width: 100%;" name="bubbles"></ion-spinner>
    <br />
    <ion-label style="margin-left:42% !important;color: #9E9E9E">Cargando...</ion-label>


  </div>

  <div *ngIf="loading==false">

    <div *ngIf="card_select_b2b_array_reverse?.length==0" padding>
      <h3 style="margin-block-start: 10em;text-align: center;color:#757575;margin-bottom: 0px;">
        No has seleccionado ninguna marca, para trabajar presiona el botón
      </h3><br />
      <div  style="text-align:center">
        <ion-button fill="clear"  >
          
          <ion-icon slot="icon-only" name="cart" color="violet"></ion-icon>
        </ion-button>
       
        
      </div>
    </div>


    <!-- init cards array -->

    <div *ngFor="let card_reverse of card_select_b2b_array_reverse;let c=index">


      <ion-card
        style="margin-bottom: 0px !important;border-top:none !important; border-top: 3px solid colorofyourchosing;">

        <ion-card-header>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="3" size-sm="3" size-md="3" size-lg="3" size-xl="3">
                  <ion-avatar item-start>
                    <img [src]="subsidiary?.all?.picture_business">
                  </ion-avatar>
                </ion-col>
                <ion-col size="7" size-sm="7" size-md="7" size-lg="7" size-xl="7" style="padding-left: 14px;padding-right: 0px;">
                  <ion-card-title style="color:#424242">
                  </ion-card-title>
                  <ion-card-subtitle>
                    {{subsidiary?.all?.name_business}}<br />
                    <p style="color:#9E9E9E">{{card_reverse?.titleCard}}</p>
                    <p style="color:#9E9E9E">{{subsidiary_last_b2b}}</p>
                  </ion-card-subtitle>
                </ion-col>
                <ion-col size="2" size-sm="2" size-md="2" size-lg="2" size-xl="2">
                  <ion-buttons >
                    <ion-button fill="clear"  (click)="presentPopover(c,$event,card_reverse)" color="violet">
                      <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
                    </ion-button>
                  </ion-buttons>

                </ion-col>
              </ion-row>
            </ion-grid>


          </ion-item>

        </ion-card-header>

        <ion-card-content>

         <form [formGroup]="card_reverse?.comentarioGroup"
            style="margin-left:9px;margin-right:9px;margin-bottom: 0px!important">
            <ion-item style="background:#FAFAFA !important">
              <ion-textarea clearOnEdit="true" style="background:#FAFAFA!important;color:#9E9E9E!important;"
                formControlName="comentario" placeholder="Escribe un comentario"></ion-textarea>
            </ion-item>
          </form>
        </ion-card-content>

      </ion-card>
      <!--<ion-card *ngIf="card_reverse?.imagenes?.length>0"
        style="margin-top: 0px;margin-bottom: 0px !important;background:#9C27B0">
        <ion-card-content>
          
            <div class="images" (click)="previewImg(c)">
              <div class="one-image" *ngFor="let imagen of card_reverse?.imagenes, let p=index">
                <img (press)="deleteImagen(c,p)" [src]="imagen?.url">
              </div>
            </div>
         
        </ion-card-content>
      </ion-card>-->
      <ion-card *ngIf="card_reverse?.imagenes?.length>0"
        style="margin-top: 0px;margin-bottom: 0px !important;background:#9C27B0">
        <ion-card-content>
         
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let imagen of card_reverse?.imagenes, let p=index">
              <ion-button (click)="deleteImagen(c,p)" icon-start fill="clear"   size="small" color="light" style="z-index: 2;
              position: absolute;
              left: 1%;
              top: 1%;
              margin: auto;">
                 <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>
              <img [src]="imagen?.url">
            </ion-slide>
          </ion-slides>
         
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-row>
          <ion-col style="text-align: center;">
            <ion-button (click)="registrarImagen(c)"  icon-start fill="clear"   size="small" color="violet">
              <ion-icon name="camera" style="font-size: 25px;"></ion-icon>
            </ion-button>
            <!-- <button ion-fab (click)="registrarImagen()">
              <ion-icon name="camera"></ion-icon>
            </button> -->

          </ion-col>
          <ion-col style="text-align: center;">
            <ion-button (click)="presetenModal('b2v-view-product',card_reverse)" fill="clear"   size="small" color="violet" icon-start>
              <ion-icon name="reader-outline" style="font-size: 25px;"></ion-icon>
              <!--<span class="material-icons"> remove_shopping_cart</span>-->
            </ion-button>
          </ion-col>
          <ion-col style="text-align: center;">
            <!--<ion-button fill="clear" icon-start  size="small" color="violet">
              <ion-icon style="font-size: 25px;" name="cart-outline"></ion-icon>-->
              <!--<span class="material-icons-outlined">
                shopping_cart
              </span>-->
              <!--<ion-badge item-end color="violet">{{baja_stock_info_count}}</ion-badge>
            </ion-button>--> 
          </ion-col>
          <!-- <ion-col>

          </ion-col>
          <ion-col>

          </ion-col>
      
          <ion-col>
            <button ion-button clear item-end icon-start small (click)="instagramLogin()">
              <ion-icon name="logo-instagram"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear item-end icon-start small (click)="loginFacebook()">

              (click)="loginFacebook()" -->
              <!-- <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear item-end icon-start small (click)="loginWithTwitter()">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col> --> 
        </ion-row>
      </ion-card>

    </div>

    <!-- end cards arrs -->


    <!-- <div padding>
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="Instagram">
          Instagram
        </ion-segment-button>
        <ion-segment-button value="Facebook">
          Facebook
        </ion-segment-button>
        <ion-segment-button value="Twitter">
          Twitter
        </ion-segment-button>
      </ion-segment>
    </div> -->

    <!-- <div [ngSwitch]="pet">
      <ion-list *ngSwitchCase="'Instagram'">
       

        <div id="instafeed"></div>
      
      </ion-list>

      <ion-list *ngSwitchCase="'Facebook'">

      </ion-list>
      <ion-list *ngSwitchCase="'Twitter'">

        <div>
          <ion-refresher (ionRefresh)="loadTimeline($event)">
              <ion-refresher-content></ion-refresher-content>
          </ion-refresher>
  
          <ion-card *ngFor="let tweet of tweets | async">
  
              <ion-item>
                <ion-avatar item-left>
                  <img src="{{tweet.user.profile_image_url}}">
                </ion-avatar>
                <h2>{{tweet.user.name}}</h2>
                <p>{{dateForTweet(tweet.created_at)}}</p>
              </ion-item>
          
              <img src="{{tweet.extended_entities.media[0].media_url}}" *ngIf="tweet.extended_entities">
          
              <ion-card-content>
                <p>{{tweet.text}}</p>
              </ion-card-content>
          
              <ion-row>
                <ion-col *ngIf="tweet.entities.urls.length > 0">
                  <button ion-button clear small (click)="openLinkUrl(tweet.entities.urls[0].url)">
                    <ion-icon name="open"></ion-icon>
                    <div>Open Link</div>
                  </button>
                </ion-col>
              </ion-row>
          
            </ion-card>
        </div>
          


      </ion-list>
    </div> -->



  </div>

 
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
    <ion-fab-button color="violet">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="violet" (click)="selectMarcaEmpresaAlert()"><ion-icon name="swap-horizontal"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
