page-stores {
    agm-map {
        height: 230px;
        position: relative;
        top: 5px;
        left: 5px;
    }
    .subsidiaryToolbar {
        color: #32db64;
        text-align: center;
        font-size: 4.5em;
    }
    #subsidiaryToolbarIcon{
        font-size: 0.5em;   
    }
    .round{
        border-radius: 50%;
        width:60% !important;
        }
    .photoImgCont{
    
    margin: 0 0 0 25% ;
    }
}
