page-home {
    agm-map {
        height: 100%;
      }
}

.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
  }

// .searchbar {
//   width: 90%
// }
agm-map {
height: 100%;
}


* {
font-family: Lato;
}

#map {
height: 100%;
}  

